<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Mascotas de la Semana</h1>
    <div>
        <img src="https://okdiario.com/img/2021/05/02/estas-son-las-5-personalidades-de-los-gatos-.jpg" alt="GATOS">
        <h2>Gatos Tiernos</h2>
        <p>Mascotas muy bellas de la semana</p>
    </div>
</body>

</html>